.BookPane-box{
    height: 35vh;
    width: 250px;
    background-color: white;
    display: -ms-inline-flexbox;
    display: inline-flex;
    
    -ms-flex-direction: column;
    flex-direction: column;

    margin:55px;
    
    border-radius: 20px;

}
.imgParent{
   
}

.bookCover{
   
    height: 15vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border: orange 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.BP-bookid{

}
.BP-name{
    font-family: 'helvetica';
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.5px;
    margin-top: -0.2em;
}
.BP-author{
    font-family: 'helvetica';
    font-weight: 600;
    font-size: 13px;
    letter-spacing: -0.5px;
    margin-top: 30px;
    margin-right: 20px;
    text-align: right;
    
}
.BP-rating{
   
    font-size: 22px;
    font-family: 'helvetica';
    font-weight: 200;
    color: grey;
    padding-left: 10px;
    margin: -10px;
    position: absolute;
}
.BP-likes{

}
.bookDetails{
    margin-left: 10px;
    
}
.likeheart{
    object-fit: cover;
    height: 40px;
    width: 40px;
   
    
}
.unlikeheart{
   
    object-fit: cover;
    height: 40px;
    width: 40px;
 
}
.heart{

  position: absolute;
  margin-left: 11.2em;
  margin-top: -1.5em;
}